@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 20 14.3% 4.1%;

        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;

        --primary: 24 9.8% 10%;
        --primary-foreground: 60 9.1% 97.8%;

        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;

        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;

        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;

        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 20 14.3% 4.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 60 9.1% 97.8%;

        --card: 20 14.3% 4.1%;
        --card-foreground: 60 9.1% 97.8%;

        --popover: 20 14.3% 4.1%;
        --popover-foreground: 60 9.1% 97.8%;

        --primary: 60 9.1% 97.8%;
        --primary-foreground: 24 9.8% 10%;

        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;

        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;

        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 60 9.1% 97.8%;

        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;
        --ring: 24 5.7% 82.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
.mainBoard{
        position: absolute;
        top: 20%;
        left: 50%;
        width: 32rem;
        transform: translateX(-50%);
        height: 32rem;
}

.monster {
    position: absolute;
    /* top: "26%";
    left: "70%"; */
    width:64px;
    height:64px;
    pointer-events: none;
    transition: 2s;
    background-size: 128px 64px;
    background-image: url('assets/id-1.png');
    background-repeat: no-repeat;
    animation: monster-id1-animation 1s steps(1) infinite;
}

.monster2{
    background-image: url('assets/id-2.png');

}

@keyframes monster-id1-animation {
    0% { background-position: 0 0; }
    50% { background-position: -64px 0; }
}

.health-bar-container {
    width: 64px; /* 血条容器的宽度 */
    height: 10px; /* 血条容器的高度 */
    border: 2px solid #000; /* 边框 */
    background-color: #fff; /* 背景色 */
    border-radius: 5px; /* 边框圆角 */
    position: absolute;
}

.health-bar {
    height: 100%; /* 血条高度充满容器 */
    width: 100%; /* 初始宽度为100% */
    background-color: #f00; /* 血条颜色 */
    border-radius: 3px; /* 血条边框圆角 */
    text-align: center; /* 文本居中 */
    line-height: 30px; /* 行高与容器高度相同以垂直居中文本 */
    color: white; /* 文本颜色 */
    transition: width 0.5s; /* 宽度变化的过渡效果 */
}

.health-bar2{
    background-color: yellow; /* 血条颜色 */

}

