[package]
cairo-version = "2.4.0"
name = "autochessia"
version = "0.0.1"

[cairo]
sierra-replace-ids = true

[dependencies]
dojo = { git = "https://github.com/dojoengine/dojo", tag = "v0.6.0" }
alexandria_math = { git = "https://github.com/keep-starknet-strange/alexandria.git" }

[[target.dojo]]

[tool.dojo]
initializer_class_hash = "0xbeef"

[profile.dev.tool.dojo.env]
# development
# Default account for katana with seed = 0
rpc_url = "http://localhost:5050/"
account_address = "0x6162896d1d7ab204c7ccac6dd5f8e9e7c25ecd5ae4fcb4ad32e57786bb46e03"
private_key = "0x1800000000300000180000000000030000000000003006001800006600"
world_address = "0x645cb3e9b4d7ae1afd34d64085e61519e431c39d4811f4e6bbc5f16b66fb0"

[profile.alpha.tool.dojo.env]
# cartridge slot
rpc_url = "https://api.cartridge.gg/x/zenith/katana"
account_address = "0x77e8d51d6ef6485b6c913b8c12790daeec244199db7e3468a3b8cb5b482f080"
private_key = "0x23c5116641d16d2855dbdf2624963f055e67a921ed91b86989748cdf3bfa2c4"
world_address = "0x645cb3e9b4d7ae1afd34d64085e61519e431c39d4811f4e6bbc5f16b66fb0"


[profile.sepolia.tool.dojo.env]
# starknet sepolia public rpc
rpc_url = "https://starknet-sepolia.public.blastapi.io/rpc/v0_6"
account_address = "0x01f330217295297676bed94934ea92e657b7b2e556d8690c78d29e2b8833ab4a"
private_key = ""
world_address = "0x645cb3e9b4d7ae1afd34d64085e61519e431c39d4811f4e6bbc5f16b66fb0"


[tool.dojo.world]
name = "autochessia"
description = "auto chess battle game"
# icon_uri = "file://assets/icon.png"
# cover_uri = "file://assets/cover.png"
socials.x = "https://twitter.com/auto_chessia"
